/* Main CSS Document for Lesley's site - this contains the bootstrap overrides that
make everything preeeeeeety */
body {font-family: 'Noto Sans', sans-serif;  margin: auto; background-color: #334051;}
h1,h2,h3 {font-family: 'Roboto Slab', 'Garamond', Georgia, serif; font-weight: 900;}
.bodycontainer{ background-color: #ffffff; box-shadow: 1px 3px 10px #000000; }
.jumbotron {background-image:url('../images/workshop2.jpg'); background-size: 100%;}
.headertext {color: #ffffff; margin:0 0 0 0; text-shadow: 1px 1px 3px #000000; background-color: rgba(50,50,50, .6); width:100%; font-weight: 900;}
.footer {background-image:url('../images/workshop1.jpg'); background-size:100%; padding:20px; text-align: right; font-weight: bold; color: #e7e7e7; font-size:.7em; text-shadow: 1px 1px #000000;}
.nav-pills li a {margin-left:3px;}
/*  CSS UTILITIES MAKE THE GANGLIA TWITCH */

/*MEDIA QUERIES FOR CENTERING CONTENT AND SHOWING AND HIDING ELEMENTS BASED ON SCREEN SIZE*/
@media (min-width: 1199px){
	body{ max-width:1180px;}
    .desktop-only {
        display:block !important;
    }
    .mobile-only {
        display:none !important;
    }	
    .teeny-only {
    	display:none !important;
    }    
	}
@media (max-width: 1199px) and (min-width: 992px){
	body{ max-width:1000px;}
    .desktop-only {
        display:block !important;
    }
    .mobile-only {
        display:none !important;
    }	
    .teeny-only {
    	display:none !important;
    }    
	}

/*medium+ screen sizes*/
@media (min-width:768px) and (max-width: 992px) {
	body{ max-width:800px;}
    .desktop-only {
        display:block !important;
    }
    .mobile-only {
        display:none !important;
    }
    .teeny-only {
    	display:none !important;
    }    
}
 
/*small screen sizes */
@media (min-width: 500px) and (max-width: 767px) {
body{ max-width:550px;}
    .mobile-only {
        display:block !important;
    }
 
    .desktop-only {
        display:none !important;
    }
    .teeny-only {
    	display:none !important;
    }    
}

/*teeny screen sizes */
@media (max-width: 500px) {
body{ max-width:550px;}
    .mobile-only {
        display:none !important;
    }
 
    .desktop-only {
        display:none !important;
    }
    .teeny-only {
    	display:block !important;
    }
}